---
---

@import "{{ site.theme }}";

.btn_bck {
    background-color: darkcyan;
}
.btn_bck:hover {
    background-color: rgb(28, 153, 83);
}
.btn_bck:active{
    background-color: rgb(20, 108, 58);
}
